body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vh;
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 70px;
    background: lightgrey;
}

.linkone, 
.linktwo, 
.linkthree {
    display: flex;
    flex: 1 auto;
}

.linkthree {
    margin-right: 200px;
}

.logo {
    margin-right: 500px;
    margin-left: 200px;
}

.sectionone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
    background: lightgrey;
}

.catch,
.subtext {
    padding-left: 200px;
}

.signup {
    background: cornflowerblue;
    color: white;
    border: white;
    margin-top: 8px;
    margin-bottom: 120px;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
}

.catch {
    max-width: 250px;
    font-size: 40px;
    margin-bottom: 0;
}

.subtext {
    max-width: 350px;
    font-size: 18px;
    margin-bottom: 0px;
    color: rgba(14, 14, 14, 0.995);
}

.car {
    width: 450px;
    height: auto;
    position: absolute;
    margin-left: 650px;
    margin-bottom: 850px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.sectiontwo {
    background: white;
    padding-bottom: 50px;
    padding-top: 20px;
}

.catchtwo {
    text-align: center;
    color: black;
    padding-top: 10px;
}

.img {
    margin-right: 10px;
    margin-left: 30px;
}

.imgone, 
.pone {
    margin-left: 225px;
}

li p {
    margin-left: 30px;
}

.sectionthree {
    display: flex;
    background-color: rgb(31, 31, 95);
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 200px;
}

.quote {
    color:white;
    font-size: 30px;
    font-weight:100;
}

.author {
    align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-right: 100px;
}

.quote, 
.author {
    max-width: 600px;
}
